.App {
  text-align: center;
}

.text-center{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
  align-items: center;
  background: #f5f5f5f5;
  padding: 30px 0;
}

#main h6.user-status{
  margin: 0;
  padding: 10px;
}

#main .user{
  color: #ffff !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
